.content{
    margin: 0 auto;
    padding: 60px 15px;
    background-color: #EEEEEE;
    min-height: 100vh;
}

.list{
    width: 80%;
    margin: 0 auto;
    max-width: 1540px;
}

.list-ttl{
    display: flex;
    font-size: 22px;
    font-weight: bold;
    gap: 14px;
}
/* 勤怠一覧の前のバー */
.list-ttl::before{
    content: "";
    width: 6px;
    height: 1.6em;
    background: #000;
}

/* 対象月選択のバー */
.attendance-month{
    background-color: #fff;
    height: 40px;
    border-radius: 10px;
    width: 100%;
    color: #777777;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 20px;
}

.calendar-select{
    display: inline-flex;
    align-items: center;
    gap: 8px;

    padding: 8px 14px;
    background-color: #fff;
    border-radius: 10px;

    font-size: 16px;
    font-weight: bold;
    color: #000;
}

a {
    text-decoration: none;
}

.left,
.right{
    color: #777777;
    font-weight: bold;
    text-decoration: none;
}
/* ここまで */

.attendance-table{
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    color: #777777;
    margin: 30px auto 0;
    font-weight: bold;
}

.attendance-list__row{
    text-align: center;
    height:40px;
}

.attendance-date{
    width:160px;
}

th {
    border-bottom: 3px solid #EEEEEE;
}

tr{
    border-bottom: 2px solid #EEEEEE;
}

.attendance-detail{
    color:#000000;
}

.attendance-detail--disabled{
    color: #000000;
    pointer-events: none; /* クリック不可 */
    cursor: default;
}

.csv{
    margin-top: 20px;
    text-align: right;
}

.csv-btn{
    padding: 5px 30px;
    background: #000000;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

@media screen and (max-width: 850px) {
    .attendance-date{
        width:120px;
    }
}